/* Profile */
body{
    background-color: azure;
    border: 0;
    margin: 0;
}

.profile-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #101820FF;
}

.profile-inner-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #101820FF;
    color: white;
}

#profile{
    padding-left: 10%;
    padding-top: 10%;
}

#links{
    margin-left: 10%;
    size: 50px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

#facebook{
    margin-left: 20px;
}

#instagram{
    margin-left: 20px;
}
#twitter{
    margin-left: 20px;
}

#profile-picture{
    position: absolute;
    top: 2%;
    right: 0%;
    z-index:2;
}




/* About */

#about-heading{
margin-top: 5%;
}




















/* Accomblishment  */

/* .accomblishment-header{
    margin-left: 15%;
    margin-bottom: 3%;

} */

.accomplishment-wrapper{
    margin-bottom: 5%;
    
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:gray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* contain around content */
  .contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 43.5%;
  }
  
  /* The circles on the timeline */
  .contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:gray;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the contain to the left */
  .lef {
    left: 6%;
  }
  
  /* Place the contain to the right */
  .righ {
    left: 50%;
  }
  
  /* Add arrows to the left contain (pointing right) */
  .lef::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid gray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent gray;
  }
  
  /* Add arrows to the right contain (pointing left) */
  .righ::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent gray transparent transparent;
  }
  
  /* Fix the circle for contains on the right side */
  .righ::after {
    left: -16px;
  }
  
  /* The actual content */
  .conten {
    padding: 20px 30px;
    background-color:gray;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width contains */
    .contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .contain::before {
    left: 60px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent gray transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .lef::after, .righ::after {
    left: 15px;
    }
    
    /* Make all right contains behave like the left ones */
    .righ {
    left: 0%;
    }

    /* Make all right contains behave like the left ones */
    .lef {
        left: -0.5%;
        }
    
}

@media only screen and (max-width: 800px) {
    #profile-picture{
          display: none;
    }
}
@media only screen and (max-width: 800px) {
    #image{
          display: none;
    }

    #about-wrapper{
        margin-left: -5%;
        margin-right: -2.5%;
    }
}

/* Expertise */








.my{
    width: 100px;
    height: 5px;
    background-color:black;
    font-weight: bold;
    position: relative;
    animation: mymove 6s infinite;
}

#my{
    animation-timing-function: linear;
}
@keyframes mymove {
    from {left: 37%;}
    to {left: 47%;}
  }




/* .education-wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #101820FF;
}

.footer-wrapper{
    color: white;
    background-color:#101820FF;
}  */

#footer{
    margin-bottom: 2%;
    margin-left: 3%;
}
#horizontal-rule{
    margin-left: 3%;
    margin-right: 3%;

} 



.loader-wrapper{
    height: 100vh;
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    
}


.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid blue;
    top: 0%;
    animation: loader 2s infinite ease;  
  }
  
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color:white;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }































